.root{
	padding: 5px;
}

.wrap{
	height:62px;
	width:62px;
	border: 2px solid transparent;
	box-sizing: border-box;
	border-radius: 31px;
	display: flex;
	justify-content: center;
	align-items:center;
}

.wrap.active{
	border-color: white;
}

.icon {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	line-height: 50px;
	text-align: center;
	font-family: "Roboto-Medium";
	font-size: 20px;
	letter-spacing: 0px;
	cursor: pointer;
	user-select: none;
}

.lock{
	background: white;
	color: #A7A7A7;
	cursor: auto;
}

.pure{
	background: white;
	color: #4A4A4A;
}

.good{
	background: #F5A623;
	color: white;
}

.perfect{
	background: #9BCF66;
	color: white;
}

.error{
	background: #D94000;
	color: white;
}
